@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:wght@400&family=Google+Sans+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
